<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    </style>
    <title>Bedu Django</title>
  </head>
  <body>
      
    {% for error in form.username.errors %}
      <h3 style="color: red;">{{error}}</h3>
    {% endfor %}

    {% for error in form.email.errors %}
      <h3 style="color: red;">{{error}}</h3>
    {% endfor %}

    {% for error in form.non_field.errors %}
    <h3 style="color: red;">{{error}}</h3>
    {% endfor %}      

    <form action="{% url 'accounts:signup' %}" method="POST">
      <h1>Regístrate</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">¡Crear cuenta!</button>
    </form>
  </body>
</html>
